<table>
  <tr *ngFor="let value of Values">
    <td>{{value.id}}</td>
    <td>{{value.name}}</td>
  </tr>
</table>
 
<table style="visibility: hidden">
  <tr id="test" *ngFor="let item of test">
    <td>{{item.name}}</td>
    <td>{{item.type}}</td>
  </tr>
</table> 

<ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>

<div class="row" id="venues">
<div class="col-md-6">
  <h1>Kafeler <input type="checkbox" class="checkAll" checked /></h1>
  <div id="name"></div>
</div>
<div class="col-md-6">
  <h2>Özellikleri <input type="checkbox" class="checkAll" checked /></h2>
  <div id="types"></div>
</div>
</div> 
<div id="filterToggle" style="margin-left: 120px;"><i class="fa fa-angle-double-down"></i></div>
<div id="wheel">
  <canvas id="canvas" width="1000" height="600"></canvas>
</div>
<div id="counter"></div>


