<ng-template #content let-modal>
  <div class="modal-header">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      <h4 style="text-align: center" class="modal-title">Şifre Resetleme
        <i class="fa fa-unlock-alt"></i>
      </h4>
    </div>
    <div class="col-md-3">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body">

    <!--reset-->
    <form [formGroup]="resetForm" (ngSubmit)="resetPwd()" class="form-register">
      <div class="form-group">
        <input type="password" id="password" name="password" formControlName="password" class="form-control" placeholder="Şifre">
        <span class="help-block" style="color: red" *ngIf="resetForm.get('password').hasError('required') && resetForm.get('password').touched">
          Şifre gerekli
        </span>
        <span class="help-block" style="color: red" *ngIf="resetForm.get('password').hasError('minlength') && resetForm.get('password').touched">
          Şifre en az 4 karakter olmalıdır
        </span>
        <span class="help-block" style="color: red" *ngIf="resetForm.get('password').hasError('maxlength') && resetForm.get('password').touched">
          Şifre 8 karakteri geçemez
        </span>

      </div>
      <div class="form-group">
        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" class="form-control"
          placeholder="Şifre Tekrar">
        <span class="help-block" style="color: red" *ngIf="resetForm.get('confirmPassword').hasError('required') && resetForm.get('confirmPassword').touched">
          Şifre doğrulama gerekli
        </span>
        <span class="help-block" style="color: red" *ngIf="resetForm.get('confirmPassword').touched 
                   && resetForm.hasError('mismatch')">
          Şifreler uyumsuz
        </span>
      </div>
      <button class="btn btn-lg btn-primary btn-block" [disabled]="!resetForm.valid" type="submit">Reset</button>
      <div class="row">
        <div class="col-md-2">
        </div>
      </div>
    </form>
    <!--reset-->

  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-warning" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <button class="btn btn-outline-primary mb-2 mr-2 btn-block" id="btnResetPwd" (click)="openVerticallyCentered(content)"
      style="margin-top: 160px;font-size:45px;">Şifre Reset ?</button>
      <br><br> 
       
  </div>
  <div class="col-md-4"></div>
</div>
 
